
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
# packaging 
venv/*
node_modules/*
package-lock.json
# database files
*.rdb
*.duckdb
*.log
*.jr
# notes/docs/config
gql/*/*
extracted/*
*.html
examples.txt
tests/jobs_voyagerJobsDashJobCards.json
gql/profile_gql_queries.json
api_responses/*
#Env/secret
.dlt/*
.envrc
*information.js
# Old files
linkedin_old.duckdb
rest_scraper_old.py
li_scraper/*
