# Configuration/Packaging
.envrc
venv*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
v_client.py
.cookie.jr
node_modules/*
package-lock.json
.dlt/*

# Data
gql/*/*
api_responses/*
extracted/*
*.rdb
data/pipeline_output/*


# File Types
*.duckdb
*.csv
*.html

# Specific files
alt_scrape/rest_scraper_old.py
tests/jobs_voyagerJobsDashJobCards.json
*information.js
alt_scrape/queries.py
